body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper__full {
  margin-left: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.plan {
  width: 100%;
}

.plan__header--wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 48px;
  margin-bottom: 24px;
}

.plan__header--wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #032b41;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem;
}

.plan__header {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  padding: 0 24px;
}

.plan__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.plan__sub--title {
  font-size: 20px;
  margin-bottom: 32px;
}

.plan__img--mask {
    display: flex;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 180px 180px 0 0;
    overflow: hidden;
}

.plan__img--mask img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
  }

  .plan__header--wrapper:before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .plan__title {
    font-size: 26px;
    margin-bottom: 32px;
  }

  .plan__sub--title {
    font-size: 16px;
  }
}
