body {
  max-width: 100%;
}

.wrapper__full {
  margin-left: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.plan {
  width: 100%;
}

.plan__header--wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 48px;
  margin-bottom: 24px;
}

.plan__header--wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #032b41;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem;
}

.plan__header {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  padding: 0 24px;
}

.plan__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.plan__sub--title {
  font-size: 20px;
  margin-bottom: 32px;
}

.plan__img--mask {
  display: flex;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
  border-radius: 180px 180px 0 0;
  overflow: hidden;
}

.plan__img--mask img {
  width: 100%;
  height: 100%;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.plan__features--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  grid-gap: 24px;
  gap: 24px;
  max-width: 800px;
  margin: 0 auto 56px;
}

.plan__features--icon {
  display: flex;
  justify-content: center;
  color: #032b41;
  margin-bottom: 12px;
}

.plan__features--icon svg {
  width: 60px;
  height: 60px;
}

.plan__features--text {
  color: #394547;
  line-height: 1.5;
}

.plan__card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f1f6f4;
  border: 4px solid #bac8ce;
  border-radius: 4px;
  cursor: pointer;
  max-width: 680px;
  margin: 0 auto;
}

.plan__card.selected {
  border-color: #2bd97c; 
  box-shadow: 0 0 0 4px rgba(22,163,74,0.08);
}

.plan__card--circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan__card.selected .plan__card--circle::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.plan__card--title {
  font-size: 18px;
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--price {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--text {
  color: #6b757b;
  font-size: 14px;
}

.plan__card--separator {
  font-size: 14px;
  color: #6b757b;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 240px;
  margin: 24px auto;
}

.plan__card--separator:after,
.plan__card--separator:before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.plan__card--cta {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 50;
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  padding: 0 32px;
}

.plan__disclaimer {
  font-size: 12px;
  color: #6b757b;
  text-align: center;
}

.accordion__card {
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  overflow: hidden;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 24px 0;
  gap: 8px;
}

.accordion__title {
  font-weight: 500;
  font-size: 24px;
  position: relative;
  margin-bottom: 0;
  color: #032b41;
  transition: 0.3s;
}

.accordion__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.accordion__icon.rotated {
  transform: rotate(180deg);
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.accordion__body {
  min-height: 1px;
  padding-bottom: 24px;
  color: #394547;
  line-height: 1.5;
}

#footer {
  background-color: #f1f6f4;
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
    z-index: 1;
}

.footer__link--title {
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 18px;
    color: #032b41;
}

.footer__link--wrapper {
    margin-bottom: 12px;
    line-height: 1;
}

.footer__link {
    color: #394547;
    font-size: 14px;
    cursor: not-allowed;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer__copyright--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    color: #032b41;
    font-weight: 500;
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
  font-size: 16px; 
  color: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
  }

  .plan__header--wrapper:before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .plan__title {
    font-size: 26px;
    margin-bottom: 32px;
  }

  .plan__sub--title {
    font-size: 16px;
  }

  .plan__features--wrapper {
    grid-template-columns: 1fr;
  }

  .plan__card--title {
    font-size: 16px;
  }

  .plan__card--price {
    font-size: 20px;
  }

  .plan__card--text {
    font-size: 12px;
  }

  .accordion__title {
    font-size: 20px;
  }

  .accordion__body {
    font-size: 14px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }
}
