.search__background{
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1
}

.search__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}

.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%;
}

.search, .search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input--wrapper {
    position: relative;
    gap: 8px;
}
.search__input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
}

.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}
.fasearch{
    width: 24px;
    height: 24px;
    color: #03314b
}

/* SIDEBAR */
/* 
.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
} */

.sidebar--opened {
    transform: translateX(0);
    width: 80%;
}

.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.logo__img{
    width: 100%;
    height: 40px;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}

.sidebar__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}

.sidebar__link--line {
    width: 5px;
    height: 100%;
    background-color: transparent;
    margin-right: 16px;
}

.active--tab {
    background-color: #2bd97c;
}

.sidebar__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.img {
    width: 24px;
    height: 24px;
}