.sidebar__font--size-wrapper {
  display: flex;
  margin-left: 24px;
  gap: 8px;
}
.sidebar__link--wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: pointer;
}

.sidebar__font--size-icon--active {
  border-bottom: 3px solid #2bd97c;
}
.sidebar__font--size-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar__font--size-icon-small {
  font-size: 16px;
}

.sidebar__font--size-icon-medium {
  font-size: 20px;
}

.sidebar__font--size-icon-large {
  font-size: 24px;
}

.sidebar__font--size-icon-xlarge {
  font-size: 28px;
}
